body {
  margin:0;
  padding:0;
}
.body{
    width:100vw;
    height:100vh;
    position:relative;
}
.spinner-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100000;
    background: rgb(0 0 0 / 57%);
    backdrop-filter:blur(10px)
}
.main {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    position: absolute;
}
.main::-webkit-scrollbar{
    width:10px;
    background-color:whitesmoke;
}
    .main::-webkit-scrollbar-thumb {
        width: 10px;
        background-color: lightgrey;
    }
    .main::-webkit-scrollbar-thumb:hover {
        background-color: lightgrey;
        border-radius:10px;
    }
    .d-center{
        display:flex;
        justify-content:center;
        align-items:center;
    }
.d-start {
    display: flex;
    justify-content: start;
    align-items: center;
}
.d-center-fdc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.d-start-fdc {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.nav-bg {

    position: sticky;
    top: 0;

}
.c-pink {
    color:#dd3f8f
}
.scroll{
    overflow-y : scroll;
    height:300px;
}
    .scroll::-webkit-scrollbar {
        width: 10px;
        background-color: whitesmoke;
    }

    .scroll::-webkit-scrollbar-thumb {
        width: 10px;
        background-color: lightgrey;
    }

        .scroll::-webkit-scrollbar-thumb:hover {
            background-color: lightgrey;
            border-radius: 10px;
        }
.options{
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.nU{
    text-decoration:none;
}
.bgimg {
    background-image: url(https://food.unl.edu/newsletters/images/mise-en-plase.jpg);
}
.bgprocess {
    background-image: url(https://img.jakpost.net/c/2018/06/27/2018_06_27_48298_1530062479._large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.tblb{
    backdrop-filter:blur(5px);
}

.bgblur {
    background-color: #3aa56a8c !important;
}
.r-start{
    justify-content:start;
    align-items:center;
}
.img-block{
    aspect-ratio:4/3;
}